* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

a:focus,
input:focus,
button:focus {
    outline: 0 solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

html,
body {
    height: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i,900');


body {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

a {
    margin: 0;
}

a:hover {
    text-decoration: none;
}



.header {
    background-color: #fff;
}

.header_left_title {
    margin-right: 10px;
}

.header_left_title h3 {
    background-color: #0FADA6;
    color: #fff;
    font-weight: 700;
    padding: 15px 10px;
    text-align: center;
    margin-bottom: 0;
    font-size: 24px;
}

.header_left_title h3 a {
    color: #fff;
}

.header_left ul li a {
    color: #333;
}


.header_right ul {
    display: inline-block;
    padding-top: 13px;
}

.header_right ul li {
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

.header_right ul li a {
    color: #807977;
    font-size: 18px;
    margin-left: 15px;
}

.header_right ul li a i {
    font-size: 15px;
    margin-left: 6px;
}

.header_right .dropdown_menu {
    position: absolute;
    left: 0;
    top: 25px;
    width: 191px;
    text-align: left;
    background-color: #0FADA6;
    padding: 15px 0 18px 10px;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
    transform: translateY(40px);
    z-index: 999;
}

.header_right .dropdown_menu li a {
    color: #fff;
}

.header_right ul li:hover > .dropdown_menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.comparison_area {
    padding-top: 40px;
    background-color: #ddd;
    padding-bottom: 70px;
}

.container.bg {
    background-color: #fff;
    padding: 40px 0 35px 0;
}

.comparison_title h1 {
    color: #0FADA6;
    font-size: 30px;
    margin-bottom: 25px;
}

.comparison_title {
    padding-left: 40px;
    padding-right: 40px;
}

.comparison_title p {
    font-size: 17px;
    color: #323332;
    border-top: 1px solid #EEEEEE;
    padding-top: 14px;
}

.comparison_img img {
    width: 90%;
}

.items_title {
    text-align: center;
    margin-top: 40px;
}

.items_title h2 {
    color: #0FADA6;
    margin-bottom: 0;
}

/*landing lg css*/
.tab-panel-area {
    background-color: #ddd;
    padding: 0 0 100px 0;
}

.tab_content_bg {
    background-color: #fff;
    margin-top: 56px;
    padding: 40px 30px;
}

.tab_title h1 {
    color: #37B9B3;
    font-weight: 700;
    border-bottom: 1px solid #EEEEEE;
    padding-top: ;
    padding-bottom: 28px;
}

.tab_img {
    height: 190px;
    width: 30%;
    float: left;
    margin-right: 20px;
}

.tab_img img {
    height: 100%;
}

.tab_text_title {
    margin-top: 25px;
}

.tab_text_title p {
    color: #6D8092;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.tab_text_title p.space {
    margin-top: 35px;
}

.tab_items_title h3 {
    color: #37B9B3;
    font-size: 30px;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 30px;
    margin-left: 10px;
}

.nav.nav-pills li a img {
    width: 100%;
    height: 140px;
}

.nav.nav-pills li {
    display: inline-block;
    width: 45%;
}

.tab_items {
    background-color: #fff;
    padding: 43px 0 35px 15px;
    margin-top: 55px;
}

.nav.nav-pills {
    padding-left: 15px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background: none;
    color: none;
}

.nav > li > a:focus,
.nav > li > a:hover {
    background: none;
}

.nav > li > a {
    padding: 0;
}


/*data html css*/
.data-table {
    background: #ddd;
    padding: 50px 0;
}

.data-title h4 {
    color: #37B9B3;
    font-size: 40px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 21px;
}

.data-title p {
    font-size: 16px;
}

.data-table-input {
    background-color: #fff;
    padding: 40px 30px;
}

.table td,
.table th {
    border-top: none;
    padding-left: 25px;
}


/*footer css*/

.footer_area {
    background-color: #333;
    padding: 5px 0;
    text-align: center;
    border-top: 5px solid #37B9B3;
}

.copyright p {
    color: #fff;
    font-size: 17px;
    margin-top: 13px;
}
